/* Genral styles */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #e5e5e5;
}

ul {
  list-style: none;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  padding: 0;
  margin: 0;
}

h2 {
  font-weight: 700;
  color: #091E42;
}

p {
  color: #344563;
}

.card-body h3 {
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
  color: #6B778C;
}

.card-body h3:nth-child(1) {
  color: #344563;
}

.hero-social ul {
  gap: 19px;
  padding: 0;
}

.my-nav {
  padding: 25px 155px;
}

.navbar-collapse {
  flex-grow: initial;
}

.navbar-nav {
  gap: 32px;
}

.navbar-brand {
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  color: #6070ff;
}

.nav-link {
  color: #344563;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
}

/* Main styles */

.my-main-container {
  min-height: 100vh;
  background: #fff url("../assets/Header\ bg@2x.png");
  background-size: 90%;
  background-position: 50%, 0;
  background-repeat: no-repeat;
  border-bottom-left-radius: 100px;
}

.hero-container-content,
.hero-social {
  width: 920px;
}

.hero-container-content p {
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  color: #344563;
}

.hero-container-content a {
  color: #7f8cff;
}

/*Card styling */
.my-card {
  border-radius: 20px;
}

.my-card .container {
  padding: 0;
  gap: 12px;
} 

.badge {
  background-color: #EBEBFF;
  color: #6070FF;
}

/* About section*/
#about-section {
  background-color: #fff;
  border-top-right-radius: 100px;
  padding-top: 142px;
}

.my-accordion-body {
  gap: 10px;
}

.my-skill-card {
  height: 122px;
  width: 120px;
}

.my-skill-card h3 {
  padding-top: 16px;
  font-size: 15px;
}

.my-skill-card img {
  width: 48px;
  height: 48px;
}


@media screen and (max-width: 1000px) {
  .my-nav {
    padding: 0;
  }

  .my-nav-container {
    margin: 0;
  }
}
